/* CSS Document */
@media print{
	@page {size: a4 landscape;}
	
	.mock-up {
		position: fixed;
		scale: 0.9;
		top: -3%;
	}
	
	.settings {
		display: none;
	}
}

@media (max-width: 1200px) {
	.app {
		display: none;
	}
}

body {
	margin: 1% 3%;
	font-family: "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", "DejaVu Sans", Verdana, "sans-serif";
	
}


#div-h1 {font-size: 35px}
h1 {
	margin: 3% 0% 0%;
	font-size: 35px;
}

h2 {
	margin: 2% 0%;
  	font-size: 30px;
}

p {
	font-size: 17px;
}
.app {
	aspect-ratio: 55 / 34;
	display: flex;
	justify-content: center;
	max-height: 835px;
	margin: auto;	
}

.settings {
	padding-top: 20px;
	border: 3px solid black;
	border-radius: 10px;
	height: fill;
  	text-align: center;
	margin-right: 0.5%;
	flex: 0 0 150px;
	overflow: scroll;
	
}

#image-select {
  	border: 2px solid #222222;
	border-radius: 7px;
  	padding: 6px 12px;
	margin: 5px 0px 50px;
  	cursor: pointer;
}

#position {
	margin: 17px 0px 5px;
}

.slider {
	width: 120px;
	padding: 0px;
	margin: 5px 2px;
  	cursor: pointer;
}

.settings #position button {
	border: none;
	background-color: white;
	font-size: 30px;
	padding: 0;
  	cursor: pointer;
}

.drop-down {
	margin: 3px 0px;
	width: 90%;
	border: 1.5px solid #222222;
	border-radius: 4px;
}

.mock-up {
    display: flex;
	justify-content: center;
	border: 3px solid black;
	border-radius: 10px;
	width: 1200px;
	height: 835px;
}


.badge-one {
	align-self: flex-end;
	padding-bottom: 20px;
	margin-left: 30px;
	object-fit: cover;
	flex: 1;
}

.badge-two {
	align-self: flex-end;
	padding-bottom: 20px;
	margin-right: 30px;
	object-fit: cover;
	flex: 1;
}

.center-zone {
	text-align: center;
	width: 60%;
	flex: 5;
}

.names {
	width: 100%;
}

input {
	width: 750px;
	text-align: center;
	border: 1px solid #222222;
	border-radius: 10px;
  	padding: 3px 10px;
	font-size: 15px;
	margin: 10px;
	
}

#photo-frame {
	aspect-ratio: 3 / 2;
	display: flex;
	overflow: hidden;
	border: solid;
	align-items: center;
	justify-content: center;
}

#group-photo {
    min-width: 100%;
    min-height: 100%;
}