/* CSS Document */
body {
	position: fixed;
  	top: 50%;
  	left: 50%;
  	margin-top: -425.5px;
  	margin-left: -687.5px;
}

.app {
	margin: auto;
	width: 1375px;
	border: solid;
	display: flex;
	justify-content: space-between;
}
.settings {
	padding-top: 10px;
	border: 3px solid black;
	border-radius: 10px;
	width: 150px;
	height: 841px;
  	text-align: center;
	
}

.slider {
	width: 100px;
	padding: 0px;
}


.settings #position button {
	border: none;
	background-color: white;
	font-size: 30px;
	padding: 0;
}

.mock-up {
    display: flex;
	justify-content: center;
	border: 3px solid black;
	border-radius: 10px;
	width: 1200px;
	height: 851px;
}


.badge-one {
	align-self: flex-end;
	padding-bottom: 20px;
	margin-left: 30px;
}

.badge-two {
	align-self: flex-end;
	padding-bottom: 20px;
	margin-right: 30px;
}

.center-zone {
	text-align: center;
}

input {
	width: 750px;
	text-align: center;
	border: 1px solid #222222;
	border-radius: 10px;
  	padding: 3px 10px;
	font-size: 15px;
	margin: 10px;
	
}

#photo-frame {
	width: 800px;
    height: 500px;
	overflow: hidden;
	border: solid;
}

#group-photo {
	/*margin-top: -10px;
	margin-left: -10px;
	margin: -100px 0px 0px -20px;*/
}